.docs__title {
  margin-bottom: 15px;
}

.docs__content {
  display: flex;
  gap: 30px;
}

.docs {
  border-radius: 15px;
  padding: 15px;
  border: 1px solid var(--border-color-main);
  background: #c3a94c;
  flex: 1 1 auto;
  word-break: break-word;
  color: black;
}

.more__docs {
  flex: 0 0 350px;
  border-radius: 10px;
  border: 0.3px solid var(--border-color-main);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 300px;
  overflow: auto;
  width: 100%;
  box-shadow: 0px -5px 10px 0px rgba(154, 148, 148, 0.5);
}

@media (max-width: 768px) {
  .docs__content {
    flex-direction: column;
  }
}
