.main__nav {
  display: flex;
  margin-bottom: 30px;
}

.nav__list {
  display: flex;
  gap: 5px;
  align-items: center;
  overflow: auto;
  flex-wrap: wrap;
}

.list__item {
  & a {
    display: block;
    padding: 5px;
    border-radius: 5px;
    background: var(--mainBtnBg);
    color: var(--secondColor);
    font-size: var(--fzText);
    text-align: center;

    &:hover{
      background: red;
      color: white;
    }
  }
}

.listAtive{
  & a {
    background: red;
    color: var(--mainColor);
  }
}

@media (max-width:1200px){
  .main__nav{
    padding: 0;
  }
}

@media (max-width:992px) {
  .nav__list{
    flex-wrap: wrap;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .list__item{
    // &:nth-child(5){
    //   flex: 0 0 193px;
    // }

    // &:nth-child(6){
    //   flex: 0 0 282px;
    // }

    // &:nth-child(7){
    //   flex: 0 0 197px;
    // }
  }
}
