.main__nav {
  display: flex;
  margin-bottom: 15px;
  padding-left: 300px;
}

.nav__list {
  display: flex;
  gap: 15px;
  align-items: center;
  overflow: auto;
}

.list__item {
  & a {
    display: block;
    padding: 5px;
    border-radius: 5px;
    background: var(--mainBtnBg);
    color: var(--secondColor);
    font-size: var(--fzText);
    text-align: center;

    &:hover{
      background: #7e0404;
    }
  }
}

.listAtive{
  & a {
    background: red;
    color: var(--mainBtnColor);
  }
}

@media (max-width:1200px){
  .main__nav{
    padding: 0;
  }
}

@media (max-width:992px) {
  .nav__list{
    overflow: auto;
    gap: 5px;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .list__item{
    &:nth-child(5){
      flex: 0 0 180px;
    }

    &:nth-child(6){
      flex: 0 0 255px;
    }

    &:nth-child(7){
      flex: 0 0 193px;
    }
  }
}
