.wrapper {
  --border-color-main: gray;
  --border-color-second: rgb(69, 69, 239);
  --fzTitle: 18px;
  --fzText: 16px;
  --mainColor: white;
  --secondColor: #bbabab;
  --mainBtnBg: #262525;
  --secondBtnBg: white;
  --mainBtnColor: white;
  --secondBtnColor: black;
  --asideTitleColor: #d4a910;
}
