.wrapper{
  --border-color-main: gray;
  --border-color-second: rgb(69, 69, 239);
  --fzTitle: 24px;
  --fzText: 18px;
  --mainColor: white;
  --secondColor: black;
  --mainBtnBg: gray;
  --secondBtnBg: white;
  --mainBtnColor: white;
  --secondBtnColor: black;
  --asideTitleColor: rgb(190, 103, 40);
}
