.wrapper {
  --border-color-main: gray;
  --border-color-second: #3f7daf;
  --fzTitle: 18px;
  --fzText: 14px;
  --mainColor: white;
  --secondColor: #bbabab;
  --mainBtnBg: #262525;
  --secondBtnBg: white;
  --mainBtnColor: #3f7daf;
  --secondBtnColor: black;
  --asideTitleColor: #d4a910;
  --fzTextMob: 12px;
  --fzTitleMob: 14px;
}
